<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.hvz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name="edu.gatech.hvz.activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.LandingPageActivity"
            android:label="@string/title_activity_landing_page" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ReportKillActivity"
            android:label="@string/title_activity_report_kill" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ShowMyCodeActivity"
            android:label="@string/title_activity_show_my_code" >
        </activity>
    </application>

</manifest>