<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.hvz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name="edu.gatech.hvz.activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.LandingPageActivity"
            android:label="@string/title_activity_landing_page" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ReportKillActivity"
            android:label="@string/title_activity_report_kill" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ShowMyCodeActivity"
            android:label="@string/title_activity_show_my_code" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.MissionDetailActivity"
            android:label="@string/title_activity_mission_detail" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ChatroomActivity"
            android:label="@string/title_activity_chatroom" />
        <activity
            android:name="edu.gatech.hvz.activities.ZombieSearchActivity"
            android:label="@string/title_activity_zombie_search" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.AchievementActivity"
            android:label="@string/title_activity_achievement" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.KillBoardActivity"
            android:label="@string/title_activity_kill_board" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.MissionListActivity"
            android:label="@string/title_activity_mission_list" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.KillMapActivity"
            android:label="@string/title_activity_kill_map" >
        </activity>
        <activity
            android:name="edu.gatech.hvz.activities.ContactAdminsActivity"
            android:label="@string/title_activity_contact_admins" >
        </activity>
    </application>

</manifest>